name: 'Deploy Next.js App'

on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  build-and-deploy:
    name: 'Build and Deploy'
    runs-on: ubuntu-latest
    environment: prod
    defaults:
      run:
        working-directory: .

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: './package-lock.json'

      - name: Install dependencies
        run: npm install

      - name: Build
        run: npm run build
        env:
          NEXT_PUBLIC_API_URL: ${{ secrets.NEXT_PUBLIC_API_URL }}


      - name: Create Optimized Package
        run: |
          # Exclude .next/cache to significantly reduce file size
          tar -czf deploy.tar.gz --exclude='.next/cache' .next public package.json package-lock.json next.config.ts

      - name: Copy to EC2
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.AWS_EC2_IP }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "deploy.tar.gz"
          target: "/home/ec2-user/app"

      - name: Finalize on EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.AWS_EC2_IP }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          timeout: 60s
          command_timeout: 30m
          script: |
            cd /home/ec2-user/app
            tar -xzf deploy.tar.gz
            rm deploy.tar.gz

            # Upgrade Node.js if it's below v20
            if [[ $(node -v | cut -d'.' -f1) != "v20" ]]; then
              echo "Upgrading Node.js to v20..."
              curl -sL https://rpm.nodesource.com/setup_20.x | sudo bash -
              sudo dnf install -y nodejs
            fi

            cd /home/ec2-user/app
            # Create/Update .env file on the server (single quotes to avoid shell expansion issues)
            echo "DATABASE_URL=postgresql://${{ secrets.DB_USERNAME }}:${{ secrets.TF_VAR_db_password }}@${{ secrets.DB_HOST }}:5432/${{ secrets.DB_NAME }}" > .env
            echo "NEXT_PUBLIC_API_URL=http://${{ secrets.AWS_EC2_IP }}:3000" >> .env
            echo "SYSTEM_ADMIN=${{ secrets.SYSTEM_ADMIN }}" >> .env
            echo "SYSTEM_ADMIN_PASSPWORD=${{ secrets.SYSTEM_ADMIN_PASSPWORD }}" >> .env
            
            npm install --omit=dev
            pm2 delete nextjs-app || true
            pm2 start npm --name "nextjs-app" -- start -- -H 0.0.0.0
